<!--
  ~ Copyright (c) 2018, Sharon Hains. CMPUT 301. University of Alberta - All Rights Reserved. You may use, distribute, or modify this code under the terms and conditions fo the Code of Student Behaviour at the University of Alberta.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharonhains.hains_subbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
